#notif {
    z-index: 999;
}

input[type=range] {
    height: 26px;
    -webkit-appearance: none;
    margin: 10px 0;
    width: 100%;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}
input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #50555C;
}
input[type=range]::-moz-range-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    box-shadow: 1px 1px 1px #50555C;
    background: #50555C;
    border-radius: 14px;
    border: 0px solid #000000;
}
input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
input[type=range]::-ms-track {
    width: 100%;
    height: 14px;
    cursor: pointer;
    animate: 0.2s;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-fill-upper {
    background: #50555C;
    border: 0px solid #000000;
    border-radius: 28px;
    box-shadow: 1px 1px 1px #50555C;
}
input[type=range]::-ms-thumb {
    margin-top: 1px;
    box-shadow: 0px 0px 0px #000000;
    border: 0px solid #000000;
    height: 20px;
    width: 40px;
    border-radius: 12px;
    background: #529DE1;
    cursor: pointer;
}
input[type=range]:focus::-ms-fill-lower {
    background: #50555C;
}
input[type=range]:focus::-ms-fill-upper {
    background: #50555C;
}

#nav-top, #nav_top_setting {
    z-index: 9;
    top: 0;
    position: fixed;
    width: 100%;
}

#musiclist, #playlist, #play, #folder {
    margin-top: 50px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
}

.boxbf {
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 10px;
    position: relative;
    background: transparent;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 20px rgb(0, 0, 0, .9);
    animation: fadeInAnimation ease 4s;
    animation-iteration-count: 2;
    animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.tablebf {
    border-radius: 10px;
    background: transparent;
}

#cloud {
	width: 100px; height: 50px;
	background: #f2f9fe;

	background: -webkit-gradient(linear, 0 0, 0 100%, color-stop(0.05, #f2f9fe), to(#d6f0fd));
	background: -webkit-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
	background: -moz-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
	background: -o-linear-gradient(#f2f9fe 5%, #d6f0fd 100%);
	background: linear-gradient(#f2f9fe 5%, #d6f0fd 100%);

	border-radius: 100px;
	position: relative;
	margin: 180px auto 100px;
}

#cloud:after, #cloud:before {
	content: "";
	position: absolute;
	background: #f2f9fe;
	z-index: -1;
}

#cloud:after {
	width: 50px;
	height: 50px;
	top: -20px;
	left: 10px;
	border-radius: 50px;
}

#cloud:before {
	width: 60px;
	height: 60px;
	top: -30px;
	right: 10px;
	border-radius: 40px;
}

.shadow {
	width: 300px;
	position: absolute;
	bottom: -10px;
	left: 20px;
	background: #000;
	z-index: -1;
	-webkit-box-shadow: 0 0 25px 8px rgba(0,0,0,0.4);
	box-shadow: 0 0 25px 3px rgba(0,0,0,0.3);
	border-radius: 50%;
}
