<script>
import { Head } from '@inertiajs/vue3';
export default {
    components: {
        Head
    }
}
</script>

<template>
<div class="p-50">
    <Head title="Dashboard" />

    <h1 class="title text-is-black bold underline center">
        Test Skill
        <br/>
        PT Jasamedika Saranatama
    </h1>

    <div class="columns is-mobile">
        <div class="column is-6">
            <a href="/kelurahan">
                <div class="box is-fullwidth center">
                    <h1 class="title text-is-black">Kelurahan</h1>
                </div>
            </a>
        </div>

        <div class="column is-6">
            <a href="/pasien">
                <div class="box is-fullwidth center">
                    <h1 class="title text-is-black">Pasien</h1>
                </div>
            </a>
        </div>
    </div>
</div>
</template>
