<script>
import { Head } from '@inertiajs/vue3';
export default {
    components: {
        Head
    },
    props: {
        data: {
            type: Object,
            default: null,
        },
        kelurahan: {
            type: Object,
            default: null,
        },
        title: {
            type: String,
            default: null,
        },
    },
    methods: {
        /*
            Generate Report using refs and calling the
            refs function generatePdf()
        */
        generateReport () {
            this.$refs.html2Pdf.generatePdf()
        }
    },
}
</script>

<template>
<Head :title="[title]" />

<div class="p-30">
    <div class="card-box">
        <h1 class="bold text-is-black center">Kartu Pasien</h1>

        <h2 class="m-t-50 m-l-10"><span class="bold">Nomor Kartu :</span> {{ data.id_pasien }}</h2>
        <h2 class="m-l-10"><span class="bold">Nama :</span> {{ data.nama_pasien }}</h2>
        <h2 class="m-l-10"><span class="bold">Alamat :</span> {{ data.alamat + ', ' + data.rt_rw + ', ' + data.nama_kelurahan }}</h2>
        <h2 class="m-l-10"><span class="bold">Tanggal Lahir :</span> {{ data.tgl_lahir }}</h2>
        <h2 class="m-l-10"><span class="bold">Jenis Kelamin :</span> {{ data.jenis_kelamin == 'L' ? 'Laki-Laki' : 'Perempuan' }}</h2>
    </div>

    <div class="center m-t-30">
        <button type="button"
                onclick="window.print()"
                class="button is-rounded is-large is-info">
            <ion-icon name="print-outline"></ion-icon>
        </button>
    </div>

</div>
</template>

<style>
.card-box {
    border: 2px solid #000;
    border-radius: 10px;
    padding: 10px;
    color: #000;
    text-align: justify;
}
.card-box h1 {
    font-size: 30px !important;
    color: #000;
}
.card-box h2 {
    font-size: 20px !important;
    color: #000;
}
</style>
