<script>
import axios from 'axios';
import { Head } from '@inertiajs/vue3';
export default {
    components: {
        Head
    },
    props: {
        data: {
            type: Object,
            default: null,
        },
        kelurahan: {
            type: Object,
            default: null,
        },
        title: {
            type: String,
            default: null,
        },
        isedit: {
            type: Boolean,
            default: false,
        },
        id: {
            type: Number,
            default: null,
        },
    },
    data() {
        return {
            jk: null,
            idkel: {0: this.data.kelurahan}
        }
    },
    created() {
        this.jk = this.data.jenis_kelamin,
        this.idkel[0] == null ? null : this.data.kelurahan
    },
    computed() {
        this.jk = data.jenis_kelamin,
        this.idkel[0] = data.kelurahan
    },
    methods: {
        setNull() {
            this.data.id_pasien     = null,
            this.data.nama_pasien   = null,
            this.data.alamat        = null,
            this.data.no_telepon    = null,
            this.data.rt_rw         = null,
            this.data.kelurahan     = null,
            this.data.tgl_lahir     = null,
            this.data.jenis_kelamin = null,
            window.location.href    = '/pasien'
        },
        SaveOrUpdate() {
            if (this.isedit) {
                // Panggil API untuk mengupdate data
                axios.post('../../api/pasien/update/'+this.id, {
                    id_pasien       : this.data.id_pasien,
                    nama_pasien     : this.data.nama_pasien,
                    alamat          : this.data.alamat,
                    no_telepon      : this.data.no_telepon,
                    rt_rw           : this.data.rt_rw,
                    kelurahan       : this.data.kelurahan,
                    tgl_lahir       : this.data.tgl_lahir,
                    jenis_kelamin   : this.data.jenis_kelamin,
                }).then((res) => {
                    Swal.fire({
                        title: 'Success Update Pasien!',
                        icon: 'success',
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        this.setNull()
                    })
                });
            } else {
                // console.log('nama_pasien',   this.data.nama_pasien);
                // console.log('alamat',        this.data.alamat);
                // console.log('no_telepon',    this.data.no_telepon);
                // console.log('rt_rw',         this.data.rt_rw);
                // console.log('kelurahan',     this.idkel[0]);
                // console.log('tgl_lahir',     this.data.tgl_lahir);
                // console.log('jenis_kelamin', this.jk);
                axios.post('../api/pasien/save', {
                    nama_pasien     : this.data.nama_pasien,
                    alamat          : this.data.alamat,
                    no_telepon      : this.data.no_telepon,
                    rt_rw           : this.data.rt_rw,
                    kelurahan       : this.idkel[0],
                    tgl_lahir       : this.data.tgl_lahir,
                    jenis_kelamin   : this.jk,
                }).then(response => (
                    Swal.fire({
                        title: 'Success Create Pasien!',
                        icon: 'success',
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        this.setNull()
                    })
                ))
                .catch(err => console.log(err))
                .finally(() => this.loading = false)
            }
        },
    }
}
</script>

<template>
<Head :title="[title]" />

<div class="p-30">
    <h1 class="title bold italic text-is-black center">{{ title }}</h1>

    <form @submit.prevent="SaveOrUpdate">

        <input type="text" name="id_pasien" class="is-hidden" value="" />

        <div class="columns is-mobile is-fullwidth">
            <div class="column is-6">
                <div class="control">
                    <input  type="text"
                            id="nama_pasien" name="nama_pasien"
                            class="input is-fullwidth is-rounded"
                            v-model="data.nama_pasien"
                            placeholder="Nama Pasien.."
                            required />
                </div>
            </div>

            <div class="column is-6">
                <span>Jenis Kelamin :</span>
                <div class="control">
                    <label class="radio">
                        <input  type="radio"
                                name="jenis_kelamin" id="jenis_kelamin_laki"
                                v-model="jk"
                                :checked="data.jenis_kelamin == 'L'"
                                :value="'L'"
                                />
                        Laki-Laki
                    </label>
                    <label class="radio">
                        <input  type="radio"
                                name="jenis_kelamin" id="jenis_kelamin_perempuan"
                                v-model="jk"
                                :checked="data.jenis_kelamin == 'P'"
                                :value="'P'"
                                />
                        Perempuan
                    </label>
                </div>
            </div>
        </div>

        <div class="columns is-mobile is-fullwidth m-t-10">
            <div class="column is-6">
                <div class="control">
                    <input  type="date"
                            id="tgl_lahir" name="tgl_lahir"
                            class="input is-fullwidth is-rounded"
                            v-model="data.tgl_lahir"
                            placeholder="Tanggal Lahir.."
                            required />
                </div>
            </div>

            <div class="column is-6">
                <div class="control">
                    <input  type="text"
                            id="no_telepon" name="no_telepon"
                            class="input is-fullwidth is-rounded"
                            v-model="data.no_telepon"
                            placeholder="Nomor Telepon.."
                            required />
                </div>
            </div>
        </div>

        <div class="columns is-mobile is-fullwidth m-t-10">
            <div class="column is-6">
                <div class="select is-fullwidth is-rounded">
                    <select v-model="idkel[0]" id="kelurahan" name="kelurahan">
                        <option disabled :selected="idkel[0] == null" value="">-- Pilih Kelurahan --</option>
                        <option v-for="kel in kelurahan" :key="kel" :value="kel['id']" :selected="kel['id'] == idkel[0]">
                            {{ kel['nama_kelurahan'] }}
                        </option>
                    </select>
                </div>
            </div>

            <div class="column is-6">
                <div class="control">
                    <input  type="text"
                            id="rt_rw" name="rt_rw"
                            class="input is-fullwidth is-rounded"
                            v-model="data.rt_rw"
                            placeholder="RT/RW.."
                            required />
                </div>
            </div>
        </div>

        <div class="control">
            <textarea   id="alamat" name="alamat"
                        class="textarea is-fullwidth is-rounded"
                        v-model="data.alamat"
                        placeholder="Alamat.."
                        required>
            </textarea>
        </div>

        <div class="buttons is-centered has-addons m-t-10">
            <a href="/pasien" class="button is-danger is-rounded">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </a>
            <button type="submit"
                    @click.prevent="SaveOrUpdate()"
                    class="button is-success is-rounded">
                <ion-icon name="save-outline"></ion-icon>
            </button>
        </div>
    </form>
</div>
</template>
