<script>
import $ from 'jquery';
import axios from 'axios';
import { Head } from '@inertiajs/vue3';
export default {
    components: {
        Head
    },
    data() {
        return {
            pasien: []
        }
    },
    created() {
        this.readData()
    },
    methods: {
        readData() {
            axios.get('../api/pasien/all').then(response => {
                // console.log(response.data.data);
                // assign state posts with response data
                this.pasien = response.data.data;
                // console.log('all kelurahan', this.pasien)
            }).catch(error => {
                console.log(error)
            })
        },

        deleteData(id, pasien) {
            Swal.fire({
                title: 'Do you really want to delete this Pasien? ' + pasien,
                    showDenyButton: true,
                    confirmButtonText: 'Yes',
                    denyButtonText: 'No',
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    axios.post('../api/pasien/delete/'+id).then(response => {
                        let i = this.pasien.map(data => data.id).indexOf(id);
                        this.pasien.splice(i, 1)
                    });
                    Swal.fire('Success Delete Pasien!', '', 'success')
                }
            })
        },
    },
}
</script>

<template>
<div class="p-30 text-is-black">
    <Head title="Pasien" />
    <h1 class="title bold underline text-is-black center">Data Pasien</h1>

    <div class="table-container">
        <table class="table is-striped is-fullwidth text-is-black">
            <thead>
                <tr>
                    <th>Nama</th>
                    <th>Jenis Kelamin</th>
                    <th>Tanggal Lahir</th>
                    <th>Alamat</th>
                    <th>Rt/RW</th>
                    <th>No. Telepon</th>
                    <th>Kelurahan</th>
                    <td class="center">
                        <a href="/pasien/create" class="button is-success is-rounded modal-button">
                            <ion-icon name="add-outline"></ion-icon>
                        </a>
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(ps, psx) in pasien" :key="psx">
                    <td>{{ ps['nama_pasien'] }}</td>
                    <td>{{ ps['jenis_kelamin'] == 'L' ? 'Laki-Laki' : 'Perempuan' }}</td>
                    <td>{{ ps['tgl_lahir'] }}</td>
                    <td>{{ ps['alamat'] }}</td>
                    <td>{{ ps['rt_rw'] }}</td>
                    <td>{{ ps['no_telepon'] }}</td>
                    <td>{{ ps['nama_kelurahan'] }}</td>
                    <td class="center">
                        <div class="buttons is-centered has-addons">
                            <a  :href="[ '/pasien/card/'+ps['id_pasien'] ]"
                                class="button is-info is-rounded">
                                <ion-icon name="print-outline"></ion-icon>
                            </a>
                            <a  :href="[ '/pasien/edit/'+ps['id_pasien'] ]"
                                class="button is-link is-rounded">
                                <ion-icon name="create-outline"></ion-icon>
                            </a>
                            <button type="button"
                                    :value="[ ps['id_pasien'] ]"
                                    :id="[ 'delete'.psx ]"
                                    @click="deleteData( ps['id_pasien'], ps['nama_pasien'] )"
                                    class="button is-danger is-rounded">
                                <ion-icon name="trash-outline"></ion-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>
