<script>
import axios from 'axios';
import { Head } from '@inertiajs/vue3';
export default {
    components: {
        Head
    },
    props: {
        data: {
            type: Object,
            default: null,
        },
        title: {
            type: String,
            default: null,
        },
        isedit: {
            type: Boolean,
            default: false,
        },
        id: {
            type: Number,
            default: null,
        },
    },
    methods: {
        setNull() {
            this.data.nama_kelurahan = null,
            this.data.nama_kecamatan = null,
            this.data.nama_kota = null,
            window.location.href='/kelurahan'
        },
        SaveOrUpdate() {
            if (this.isedit) {
                // Panggil API untuk mengupdate data
                axios.post('../../api/kelurahan/update/'+this.id, {
                    nama_kelurahan : this.data.nama_kelurahan,
                    nama_kecamatan : this.data.nama_kecamatan,
                    nama_kota : this.data.nama_kota
                }).then((res) => {
                    Swal.fire({
                        title: 'Success Update Kelurahan!',
                        icon: 'success',
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        this.setNull()
                    })
                });
            } else {
                axios.post('../api/kelurahan/save', {
                    nama_kelurahan : this.data.nama_kelurahan,
                    nama_kecamatan : this.data.nama_kecamatan,
                    nama_kota : this.data.nama_kota
                }).then(response => (
                    Swal.fire({
                        title: 'Success Create Kelurahan!',
                        icon: 'success',
                        confirmButtonText: 'OK',
                    }).then((result) => {
                        this.setNull()
                    })
                ))
                .catch(err => console.log(err))
                .finally(() => this.loading = false)
            }
        },
    }
}
</script>
<template>
<Head :title="[title]" />

<div class="p-30">
    <h1 class="title bold italic text-is-black center">{{ title }}</h1>

    <form @submit.prevent="SaveOrUpdate">
        <div class="control">
            <input  type="text"
                    id="nama_kelurahan" name="nama_kelurahan"
                    class="input is-fullwidth is-rounded"
                    v-model="data.nama_kelurahan"
                    placeholder="Nama Kelurahan.."
                    required />
        </div>

        <div class="control m-t-10">
            <input  type="text"
                    id="nama_kecamatan" name="nama_kecamatan"
                    class="input is-fullwidth is-rounded"
                    v-model="data.nama_kecamatan"
                    placeholder="Nama Kecamatan.."
                    required />
        </div>

        <div class="control m-t-10">
            <input  type="text"
                    id="nama_kota" name="nama_kota"
                    class="input is-fullwidth is-rounded"
                    v-model="data.nama_kota"
                    placeholder="Nama Kota.."
                    required />
        </div>

        <div class="buttons is-centered has-addons m-t-10">
            <a href="/kelurahan" class="button is-danger is-rounded">
                <ion-icon name="arrow-back-outline"></ion-icon>
            </a>
            <button type="submit"
                    @click.prevent="SaveOrUpdate()"
                    class="button is-success is-rounded">
                <ion-icon name="save-outline"></ion-icon>
            </button>
        </div>
    </form>
</div>
</template>
