<script>
import $ from 'jquery';
import axios from 'axios';
import { Head } from '@inertiajs/vue3';
export default {
    components: {
        Head
    },
    data() {
        return {
            kelurahan: []
        }
    },
    created() {
        this.readData()
    },
    methods: {
        readData() {
            axios.get('../api/kelurahan/all').then(response => {
                // console.log(response.data.data);
                // assign state posts with response data
                this.kelurahan = response.data.data;
                // console.log('all kelurahan', this.kelurahan)
            }).catch(error => {
                console.log(error)
            })
        },

        deleteData(id, kelurahan) {
            Swal.fire({
                title: 'Do you really want to delete this Kelurahan? ' + kelurahan,
                    showDenyButton: true,
                    confirmButtonText: 'Yes',
                    denyButtonText: 'No',
                }).then((result) => {
                /* Read more about isConfirmed, isDenied below */
                if (result.isConfirmed) {
                    axios.post('../api/kelurahan/delete/'+id).then(response => {
                        let i = this.kelurahan.map(data => data.id).indexOf(id);
                        this.kelurahan.splice(i, 1)
                    });
                    Swal.fire('Success Delete Kelurahan!', '', 'success')
                }
            })
        },
    },
}
</script>

<template>
<div class="p-30 text-is-black">
    <Head title="Kelurahan" />
    <h1 class="title bold underline text-is-black center">Data Kelurahan</h1>

    <div class="table-container">
        <table class="table is-striped is-fullwidth text-is-black">
            <thead>
                <tr>
                    <th>Kota</th>
                    <th>Kecamatan</th>
                    <th>Kelurahan</th>
                    <td class="center">
                        <a href="/kelurahan/create" class="button is-success is-rounded modal-button">
                            <ion-icon name="add-outline"></ion-icon>
                        </a>
                    </td>
                </tr>
            </thead>

            <tbody>
                <tr v-for="(kl, klx) in kelurahan" :key="klx">
                    <td>{{ kl['nama_kota'] }}</td>
                    <td>{{ kl['nama_kecamatan'] }}</td>
                    <td>{{ kl['nama_kelurahan'] }}</td>
                    <td class="center">
                        <div class="buttons is-centered has-addons">
                            <a  :href="[ '/kelurahan/edit/'+kl['id'] ]"
                                class="button is-link is-rounded">
                                <ion-icon name="create-outline"></ion-icon>
                            </a>
                            <button type="button"
                                    :value="[ kl['id'] ]"
                                    :id="[ 'delete'.klx ]"
                                    @click="deleteData( kl['id'], kl['nama_kelurahan'] )"
                                    class="button is-danger is-rounded">
                                <ion-icon name="trash-outline"></ion-icon>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</template>
